# BEGIN_REPRICER_{{INSTANCE_NAME}}
{{CRON_SCHEDULE}} cd {{WORKING_DIR}} && {{WORKING_DIR}}/.venv/bin/python {{WORKING_DIR}}/scripts/repricer.py >> {{WORKING_DIR}}/logs/repricer-{{INSTANCE_NAME}}.log 2>&1
# END_REPRICER_{{INSTANCE_NAME}}