# BEGIN_DISABLE_AUTO_ADD_{{INSTANCE_NAME}}
{{DISABLE_AUTO_ADD_CRON_SCHEDULE}} cd {{WORKING_DIR}} && {{WORKING_DIR}}/.venv/bin/python scripts/actions_disable_auto_add.py >> {{WORKING_DIR}}/logs/disable_auto_add-{{INSTANCE_NAME}}.log 2>&1
# END_DISABLE_AUTO_ADD_{{INSTANCE_NAME}}