# BEGIN_PARSER_REPRICER_{{INSTANCE_NAME}}
{{PARSER_CRON_SCHEDULE}} cd {{WORKING_DIR}} && export DISPLAY=:11.0 && export XAUTHORITY=/home/{{USER}}/.Xauthority && {{WORKING_DIR}}/.venv/bin/python parser.py >> {{WORKING_DIR}}/logs/parser-{{INSTANCE_NAME}}.log 2>&1
# END_PARSER_REPRICER_{{INSTANCE_NAME}}