# BEGIN_PARSER_REPRICER_{{INSTANCE_NAME}}
{{PARSER_CRON_SCHEDULE}} cd {{WORKING_DIR}} && export DISPLAY=:10 && {{WORKING_DIR}}/.venv/bin/python parser.py >> /var/log/parser-{{INSTANCE_NAME}}.log 2>&1
# END_PARSER_REPRICER_{{INSTANCE_NAME}}