[Unit]
Description=Repricer Web Dashboard (API version)
After=network.target

[Service]
User={{USER}}
WorkingDirectory={{WORKING_DIR}}
ExecStart={{WORKING_DIR}}/.venv/bin/streamlit run app.py --server.port 8501 --server.address 0.0.0.0
Restart=always
EnvironmentFile={{WORKING_DIR}}/.env

[Install]
WantedBy=multi-user.target